<?xml version="2.3.1" encoding="UTF-8" ?>
<module>
    <name>rg_shipit</name>
    <displayName><![CDATA[Quoting Couriers Chile by Shipit]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Integral logistics for eCommerce with pickup or fulfillment through Shipit]]></description>
    <author><![CDATA[Shipit]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>